{
	email vegardegeland@gmail.com
}

#
# Static sites
#

pebblepatch.dev {
	root * /srv/pebblepatch
	file_server
}

diatonic.pebblepatch.dev {
	root * /srv/diatonic/build
	file_server
}

#
# Reverse proxies
#
# Port numbers must correspond to the exposed ports in `compose.yml`
#

bookbear.pebblepatch.dev {
	reverse_proxy localhost:3000
}
