{
	email vegardegeland@gmail.com
}

pebblepatch.dev {
	root * /root/pebblepatch
	file_server
}

bookbear.pebblepatch.dev {
	reverse_proxy localhost:3000
}

diatonic.pebblepatch.dev {
	root * /root/diatonic/build
	file_server
}

