{
    email vegardegeland@gmail.com
    admin 0.0.0.0:2019
    metrics {
        per_host
    }
}

#
# Static sites
#

pebblepatch.dev {
    root * /srv/static/pebblepatch/
    file_server
}

diatonic.pebblepatch.dev {
    root * /srv/static/diatonic/
    file_server
}

energy.pebblepatch.dev {
    root * /srv/static/energy/
    file_server
}

#
# Reverse proxies
#
# Port numbers must match the exposed ports in `compose.yml`
#

bookbear.pebblepatch.dev {
    reverse_proxy localhost:8001
}

#
# Admin-only monitoring (Grafana login)
#
monitoring.pebblepatch.dev {
    reverse_proxy localhost:3000
}
