{
    email vegardegeland@gmail.com
    admin 0.0.0.0:2019
    metrics {
        per_host
    }
}

#
# Static sites
#

pebblepatch.dev {
    root * /srv/static/pebblepatch/
    file_server
}

diatonic.pebblepatch.dev {
    root * /srv/static/diatonic/
    file_server
}

#
# Reverse proxies
#
# Port numbers must match the exposed ports in `compose.yml`
#

bookbear.pebblepatch.dev {
    reverse_proxy localhost:3000
}

#
# Admin-only monitoring (requires basic auth)
#
monitoring.pebblepatch.dev {
    basicauth {
        admin $2a$14$MqNKWZkUoPagR3jxYya/xOR8g..b.qxG6JIBneUKfEFVs.os2GWKu
    }
    reverse_proxy localhost:9090
}
